@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<br />
<table class="table table-­‐bordered table-­‐hover">
    <thead>
        <tr>
            <th>Customers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customer)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "GetCustomer", "Customers", new { id = customer.id }, null)  </td>
            </tr>
        }
    </tbody>
</table>